soapui.xml

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.soap.jets.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.soap.jets.iti.gov/" name="ProductServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.soap.jets.iti.gov/" schemaLocation="http://localhost:9797/restful/ws/ProductServices?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAllProducts">
<part name="parameters" element="tns:deleteAllProducts"/>
</message>
<message name="deleteAllProductsResponse">
<part name="parameters" element="tns:deleteAllProductsResponse"/>
</message>
<message name="getProductById">
<part name="parameters" element="tns:getProductById"/>
</message>
<message name="getProductByIdResponse">
<part name="parameters" element="tns:getProductByIdResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getProductsList">
<part name="parameters" element="tns:getProductsList"/>
</message>
<message name="getProductsListResponse">
<part name="parameters" element="tns:getProductsListResponse"/>
</message>
<message name="getByCategory">
<part name="parameters" element="tns:getByCategory"/>
</message>
<message name="getByCategoryResponse">
<part name="parameters" element="tns:getByCategoryResponse"/>
</message>
<portType name="ProductService">
<operation name="deleteAllProducts">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/deleteAllProductsRequest" message="tns:deleteAllProducts"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/deleteAllProductsResponse" message="tns:deleteAllProductsResponse"/>
</operation>
<operation name="getProductById">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/getProductByIdRequest" message="tns:getProductById"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/getProductByIdResponse" message="tns:getProductByIdResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getProductsList">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/getProductsListRequest" message="tns:getProductsList"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/getProductsListResponse" message="tns:getProductsListResponse"/>
</operation>
<operation name="getByCategory">
<input wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/getByCategoryRequest" message="tns:getByCategory"/>
<output wsam:Action="http://webservices.soap.jets.iti.gov/ProductService/getByCategoryResponse" message="tns:getByCategoryResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductServiceService">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:9797/restful/ws/ProductServices"/>
</port>
</service>
</definitions>
